<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<div fxLayout="row wrap">
    <!-- column -->
    <div fxFlex.gt-lg="70" fxFlex.gt-md="70" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-header>
                <mat-card-title>NOMBRE O RAZON SOCIAL</mat-card-title>
                <mat-card-subtitle>Nombre o Razon Social de la Empresa/Institucion</mat-card-subtitle>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content>
                <p>
                    <mat-form-field class="example-full-width">
                        <mat-label>Nombre o Razon Social de la Empresa</mat-label>
                        <span matPrefix><mat-icon>home</mat-icon>  </span>
                        <input matInput>
                        <button matSuffix mat-icon-button>
                            <mat-icon>mode_edit</mat-icon>
                        </button>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                      <mat-label>Breve Descripcion</mat-label>
                      <textarea matInput></textarea>
                    </mat-form-field>
                 </p>
            </mat-card-content>
        </mat-card>

    </div>
    <!-- column -->
    <!-- column -->
    <div fxFlex.gt-lg="30" fxFlex.gt-md="30" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-header>
                <mat-card-title>LOGO</mat-card-title>
                <mat-card-subtitle>Logo o Imagen</mat-card-subtitle>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content align="center">
                <div align="center" class="example-small-box mat-elevation-z4">
                    LOGO
                </div> 
            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->
</div>

<div fxLayout="row wrap">
    <!-- column -->
    <div fxFlex.gt-lg="50" fxFlex.gt-md="50" fxFlex.gt-xs="100" fxFlex="100">

        <mat-card>
            <mat-card-header>
                <mat-card-title>DATOS/INFORMACION</mat-card-title>
                <mat-card-subtitle>Datos o Informacion de la Empresa/Institucion</mat-card-subtitle>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content>
                <form class="example-form">
                    <mat-form-field class="example-full-width">
                      <mat-label>RUBRO</mat-label>
                      <input matInput>
                    </mat-form-field>
                  
                    <table class="example-full-width" cellspacing="0">
                        <tr>
                            <td><mat-form-field class="example-full-width">
                                <mat-label>TELEFONO 1</mat-label>
                                <input matInput>
                            </mat-form-field></td>
                            <td><mat-form-field class="example-full-width">
                                <mat-label>TELEFONO 2</mat-label>
                                <input matInput>
                            </mat-form-field></td>
                        </tr>
                    </table>
                  
                    <mat-form-field class="example-full-width">
                        <mat-label>Pagina Web</mat-label>
                        <input matInput>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                      <mat-label>email</mat-label>
                      <input matInput>
                    </mat-form-field>
                 
                    <table class="example-full-width" cellspacing="0"><tr>
                      <td><mat-form-field class="example-full-width">
                        <mat-label>Pais</mat-label>
                        <input matInput placeholder="Ex. San Francisco">
                      </mat-form-field></td>
                      <td><mat-form-field class="example-full-width">
                        <mat-label>Ciudad</mat-label>
                        <input matInput placeholder="Ex. California">
                      </mat-form-field></td>
                    </tr></table>
                    <table class="example-full-width" cellspacing="0"><tr>
                        <td><mat-form-field class="example-full-width">
                          <mat-label>Ciudad</mat-label>
                          <input matInput placeholder="Ex. California">
                        </mat-form-field></td>
                        <td><mat-form-field class="example-full-width">
                          <mat-label>Municipio</mat-label>
                          <input matInput #postalCode maxlength="5" placeholder="Ex. 94105" value="94043">
                          <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
                        </mat-form-field></td>
                      </tr></table>
                  </form>
            </mat-card-content>
        </mat-card>

    </div>
    <!-- column -->
    <!-- column -->
    <div fxFlex.gt-lg="50" fxFlex.gt-md="50" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-header>
                <mat-card-title>DATOS/INFORMACION</mat-card-title>
                <mat-card-subtitle>Datos o Informacion de la Empresa/Institucion</mat-card-subtitle>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content>
                <form class="example-form">
                    <mat-form-field class="example-full-width">
                      <mat-label>RUBRO</mat-label>
                      <input matInput>
                    </mat-form-field>
                  
                    <table class="example-full-width" cellspacing="0">
                        <tr>
                            <td><mat-form-field class="example-full-width">
                                <mat-label>TELEFONO 1</mat-label>
                                <input matInput>
                            </mat-form-field></td>
                            <td><mat-form-field class="example-full-width">
                                <mat-label>TELEFONO 2</mat-label>
                                <input matInput>
                            </mat-form-field></td>
                        </tr>
                    </table>
                  
                    <mat-form-field class="example-full-width">
                        <mat-label>Pagina Web</mat-label>
                        <input matInput>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                      <mat-label>email</mat-label>
                      <input matInput>
                    </mat-form-field>
                 
                    <table class="example-full-width" cellspacing="0"><tr>
                      <td><mat-form-field class="example-full-width">
                        <mat-label>Pais</mat-label>
                        <input matInput placeholder="Ex. San Francisco">
                      </mat-form-field></td>
                      <td><mat-form-field class="example-full-width">
                        <mat-label>Ciudad</mat-label>
                        <input matInput placeholder="Ex. California">
                      </mat-form-field></td>
                    </tr></table>
                  </form>
            </mat-card-content>
            <mat-card-actions align="end">
                <div class="example-button-row">
                    <button mat-flat-button color="primary">Primary</button>
                    <button mat-flat-button color="accent">Accent</button>
                    <button mat-flat-button color="warn">Warn</button>
                  </div>
            </mat-card-actions>
        </mat-card>
    </div>
    <!-- column -->
</div>
