    <mat-card class="col-md-4">
        <mat-card-content>
            <div class="mat-container">

                <div class="row">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat vero asperiores unde ratione placeat sequi corporis sed illo cumque voluptas obcaecati rem perferendis est, iure saepe nam veniam nesciunt dolore?
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum error iure magnam sunt quibusdam sed minima ut consequuntur, excepturi molestiae aliquam nobis quo. Suscipit aliquam nesciunt laboriosam non? Consectetur maxime magnam illum fugiat minus ipsa ducimus modi harum suscipit vel.
                    </div>
                    <i data-eva="github" data-eva-fill="#ff0000" data-eva-height="48" data-eva-width="48"></i>
                    <div class="col-md-8">
                           Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum sit similique soluta quia accusantium deserunt molestiae saepe illo quos repellat ipsum vel quam quasi voluptatum, exercitationem in error optio ab eos cupiditate fugit corrupti ex? Totam amet, consectetur ex quaerat veniam reprehenderit. Temporibus magnam, corrupti incidunt molestiae quisquam delectus, impedit similique voluptates fugiat numquam consectetur labore autem obcaecati! Molestias sunt sit unde tempore voluptatem laborum. 
        
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-4">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit, quae. Magnam quisquam quia optio esse obcaecati natus assumenda eum aliquid? Consequatur molestias maiores veritatis aliquam illo dignissimos possimus sint nemo. Incidunt sed deleniti debitis blanditiis at aliquam cumque, ab doloremque explicabo facilis fugiat iste assumenda repellat, nulla mollitia rem deserunt?
                    </div>
                    <div class="col-md-4">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi eligendi et fuga, voluptas excepturi optio vel iure rem iste consectetur nulla suscipit? Corporis cupiditate maiores sequi quasi error eum, fugit quam porro dolores, quidem provident assumenda! A fugit recusandae aperiam fuga voluptate eos ducimus temporibus error, ullam incidunt, amet suscipit omnis in, doloremque hic! Maxime cum rerum, quidem optio dolor nam? Aliquid deleniti fugiat ipsum consectetur mollitia veritatis earum! Distinctio?
                    </div>
                    <div class="col-md-4">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut fuga enim ea a ab corrupti eveniet nam voluptas sed odit?
                    </div>
                </div>
            </div>
          
        </mat-card-content>

    </mat-card>

    <div class="container">
        <div class="row">
          <div class="col-sm">
            One of three columns
          </div>
          <div class="col-sm">
            One of three columns
          </div>
          <div class="col-sm">
            One of three columns
          </div>
        </div>
      </div>


