.example-button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}