<mat-card>
    <mat-card-title>
        Empleados
    </mat-card-title>
    <mat-card-content>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure, dolorum blanditiis soluta aliquam provident qui perferendis adipisci ratione, dolorem quod rem deleniti tempore sunt minima, accusamus repudiandae? In, soluta. Eveniet nostrum, expedita distinctio libero itaque laudantium, dolorem aut quia natus voluptas dolorum praesentium maiores iusto et alias minus illum! Veniam.
    </mat-card-content>
</mat-card>